{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Restauración de contraseña enviado</h2>
    <div class="card-body">
        <div class="row">

            <p>Hemos enviado un enlace para la restauración de tu contraseña, por favor revisa tu correo electrónico.
            </p>
            <p>Si no encuentras el correo, revisa todas tus carpetas de recibido, incluyendo la carpeta
                <b>spam</b>, además debes tener en cuanta que ya te encuentras registrado en nuestro sitio.
            </p>

        </div>
    </div>
</div>
{% endblock %}