{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}

Tienes una sesión activa

{% else %}

<div class="container">
    <h2>
        Registro de Niñera
    </h2>
    {% load crispy_forms_tags %}
    <form action="" method="POST">
        {% csrf_token %}


        {{ form | crispy }}


        <div class="float-right">
            <input type="reset" value="Limpiar" class="btn btn-info">
            <input type="submit" value="Registrar" class="btn btn-success">
        </div>
    </form>
</div>

{% endif %}
{{ mensaje }}

{%endblock%}