.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner {
    height: 400px;
}

h5 {
    font-size: 110px;
    color: #E1223F;
    -webkit-text-stroke: 1px black;
    font-family: Just Another Hand;
}

.p_sidebar {
    font-size: 30px;
    color: #4FBEE4;
    font-family: 'Wendy One', sans-serif;
    -webkit-text-stroke: 1px black;
}

h6 {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 30px;
    text-align: center;
}

footer {
    color: cornsilk;
    background: #E1223F;
}