{% extends "base.html" %}

{% block content %}


<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-white"> Bienvenidos a Niñeras SOS </h3>
          <p class="text-light">Trabajamos duro para brindar el mejor servicio
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>

<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      {% for post in hojavida_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">{{ post.first_name }} | {{ post.created_on}}  </p>

          <p class="card-text">{{ post.content|slice:":200" }}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Leer más &rarr;</a>
          {% if post.usuario.ninera_disponible %}
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-success">Disponible</a>
          {% else %}
            <a href="#" class="btn btn-danger">No disponible</a>
          {% endif %}
        </div>

      </div>
      {% endfor %}
      <!-- -->

    </div>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar %}
  </div>
</div>

<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
  {% if hojavida_list.has_previous %}
  <li><a href="?page={{ hojavida_list.previous_page_number }}" class="page-link">&laquo; Anterior </a></li>
  {% endif %}
  {% for pg in hojavida_list.paginator.page_range %}
  {% if hojavida_list.number == pg %}
  <li class="page-item active"><a href="?page={{ pg }}" class="page-link">{{ pg }}</a></li>
  {% else %}
  <li class="page-item"><a href="?page={{ pg }}" class="page-link">{{ pg }}</a></li>
  {% endif %}
  {% endfor %}
  {% if hojavida_list.has_next %}
  <li><a href="?page={{ hojavida_list.next_page_number }}" class="page-link"> Siguiente &raquo;</a></li>

  {% endif %}
</ul>
</nav>
</div>

{%endblock%}