{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{{ hola }}
{% if user.tiene_hoja_vida %}
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3 left top">
            <div class="card-body">

                <h1>Estado actual: {% if user.ninera_disponible %} <input type="submit" value="Disponible"
                        class="btn btn-success"> {% else %} Ocupada {% endif %}</h1>

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form | crispy }}

                    <input type="submit" value="Actualizar estado" class="btn btn-danger">
                </form>

                <h1>Suscripción</h1>

                <b>Fecha de suscripción: </b> {{ post.fecha_inicio }} <br>
                <b>Fecha fin de suscripción: </b> {{ post.fecha_fin }}
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <h2>
        Registro de hoja de vida
    </h2>
    <form action="" method="POST">
        {% csrf_token %}

        {{ form | crispy }}

        <div class="float-right">
            <input type="submit" value="Registrar" class="btn btn-success">
        </div>
    </form>
</div>

{% endif %}
{{ mensaje }}

{% endblock content %}