{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Acerca de</h5>
        <div class="card-body">
            <p class="card-text">Si te sientes inconforme con el servicio/atención de nuestras niñeras,
                contacta a uno de los reguladores/administradores del sitio para que se ponga en contacto
                contigo y la niñera. Recuerda que buscamos brindar el mejor servicio y todas las peticiones,
                quejas o reclamos serán atendidas.
            </p>
            <a href="{% url 'acerca_de' %}" class="btn btn-danger">Conoce más!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}