{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Acerca de</h5>
        <div class="card-body">
            <p class="card-text"> Aquí puedo describir un poquito lo que es niñeras sos, un pedazo corto 
                para luego mostrar todo en general con el botón de abajo
            </p>
            <a href="#" class="btn btn-danger">Conoce más!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}