{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="card mb-4 mt-3 left top">
            <h1>Términos y Condiciones</h1>
            <div class="card-body">
                <h5>POLÍTICA DE PRIVACIDAD</h5>
                <p>
                    Si estás aquí es porque quieres saber más sobre las obligaciones y derechos que te corresponden como
                    usuario de esta web NINERAS S.O.S y eso está muy bien. Nuestro deber es informarte y
                    el tuyo estar debidamente informado.
                </p>
                <P>
                    En esta Política de Privacidad te informaremos con total transparencia sobre la finalidad de este
                    sitio web y todo lo que afecta a los datos que nos facilites, así como de las obligaciones y
                    derechos que te corresponden.
                </P>
                <P>
                    Para empezar, debes saber que este sitio web se adapta a la normativa vigente en relación con la
                    protección de datos, lo que afecta a los datos personales que nos facilites con tu consentimiento
                    expreso y a las cookies que utilizamos para que este sitio web funcione correctamente y pueda
                    desarrollar su actividad.
                </P>
                <P>
                    Concretamente, esta web se ajusta al cumplimiento de las siguientes normativas:
                </P>
                <p>
                    Para el registro como <b>niñera</b> se tomarán tus datos personales ya que se requiere mantener
                    una pagina con personal conocido, experimentado y de confianza para el cuidado de los niños
                    y esto es muy importante porque en la actualidad se presentan muchos casos violentos o 
                    de muy mala conducta para el cuidado de estos, por lo tanto solicitamos tus datos personales para
                    que sean estudiados y así poder ofrecer tu servicio.
                </p>
                <p>Para el registro como <b>cliente</b> se tomarán ciertos datos personales, para que este pueda
                evaluar el comportamiento de la niñera, tanto como un comentario y una calificación de 1 a 5.</p>
                <P>
                    El <b>RGPD (Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016
                        relativo a la protección de las personas físicas)</b> que es la nueva normativa de la Unión
                    Europea que
                    unifica la regulación del tratamiento de los datos personales en los distintos países de la UE.
                </P>
                <p>La <strong>LOPD</strong> (<strong>Ley Orgánica 15/1999, de 13 de diciembre, de Protección
                        de Datos de Carácter Personal</strong> y <strong>Real Decreto 1720/2007, de 21 de
                        diciembre, el Reglamento de desarrollo de la LOPD</strong>) que regula el tratamiento de los
                    datos personales y las obligaciones que debemos asumir los responsables de una web o un blog a la
                    hora de gestionar esta información.
                </p>
                <p>La&nbsp;<strong>LSSI</strong>&nbsp;(<strong>Ley 34/2002, de 11 de julio, de Servicios de la Sociedad
                        de la Información y Comercio Electrónico</strong>)&nbsp;que regula las transacciones económicas
                    mediante medios electrónicos, como es el caso de este blog.
                </p>
                <h5>Datos de identificación</h5>
                <p>El responsable y titular de este sitio web es&nbsp;<strong>NINERAS S.O.S</strong>.
                </p>
                <ul>
                    <li><strong>Nombre:</strong>&nbsp;NINERAS S.O.S</li>
                    <li><strong>Domicilio Social:</strong>&nbsp;Universidad de Nariño</li>
                    <li><strong>Actividad del sitio web</strong>: Servicio de Niñeras</li>
                    <li><strong>Correo electrónico</strong>:&nbsp;<a
                            href="mailto:Info@ninerassos.com.co">Info@ninerassos.com.co</a></li>
                </ul>
                <p>Los datos que nos facilites con tu consentimiento, y de acuerdo al uso establecido en esta Política
                    de Privacidad, serán incorporados a un fichero automatizado debidamente inscrito en la Agencia
                    Española de Protección de Datos, en el que el responsable de dicho fichero es:&nbsp;NINERAS
                    S.O.S.&nbsp;Esto quiere decir que tus datos están seguros, de acuerdo a lo que establece la ley.
                </p>
                <p>Te informamos de que esta Política de Privacidad puede ser modificada en cualquier momento, con el
                    fin de adaptarla a novedades legislativas o cambios en nuestras actividades, siendo vigente la que
                    en cada momento se encuentre publicada en la web. Dicha modificación se te notificará antes de su
                    aplicación.
                </p>
                <h5>Condiciones de uso</h5>
                <p>Debes saber, para tu tranquilidad, que siempre te solicitaremos tu consentimiento expreso para
                    recabar tus datos con la correspondiente finalidad especificada en cada caso, lo que implica que, en
                    caso de otorgar ese consentimiento, has leído y aceptado esta Política de
                    Privacidad<strong>.</strong>
                </p>
                <p>En el momento en que accedas y utilices esta web, asumes tu condición de usuario con tus
                    correspondientes derechos y obligaciones.
                </p>
                <p>Si eres mayor de 18 años, podrás registrarte como usuario en este sitio web sin el previo
                    consentimiento de tus padres o tutores.
                </p>
                <p>Si eres menor de 18 años, necesitarás el consentimiento de tus padres o tutores para el tratamiento
                    de tus datos personales.
                </p>
                <h5>Registro y finalidad de tus datos</h5>
                <p>En función del formulario o sección a la que accedas, te solicitaremos exclusivamente los datos
                    necesarios con las finalidades descritas a continuación. En todo momento, deberás dar tu
                    consentimiento expreso, cuando te solicitemos información personal con las siguientes finalidades:
                </p>
                <ul>
                    <li>Las finalidades concretas que particularmente se indiquen en cada una de las páginas o secciones
                        donde aparezca el formulario de registro o contacto electrónico.</li>
                    <li>Con carácter general, para atender tus solicitudes, comentarios, consultas o cualquier tipo de
                        petición que realices como usuario a través de cualquiera de las formas de contacto que ponemos
                        a tu disposición</li>
                    <li>Para informarte sobre consultas, peticiones, actividades, productos, novedades y/o servicios;
                        vía e-mail, fax, Whatsapp, Skype, teléfono proporcionado, sms y mms.</li>
                    <li>Para enviarte comunicaciones comerciales o publicitarias a través de cualquier otro medio
                        electrónico o físico, que posibilite realizar comunicaciones.</li>
                </ul>
                <p>Estas comunicaciones, siempre serán relacionadas con nuestros productos, servicios, novedades o
                    promociones, así como aquellos productos o servicios que podamos considerar de tu interés y que
                    puedan ofrecer colaboradores, empresas o “partners” con los que mantengamos acuerdos de promoción o
                    colaboración comercial.
                </p>
                <p>De ser así, te garantizamos que estos terceros nunca tendrán acceso a tus datos personales, con las
                    excepciones reflejadas a continuación, siendo en todo caso estas comunicaciones realizadas por parte
                    de&nbsp;<strong>NINERAS S.O.S, como titular de la web.</strong>
                </p>
                <p>Debes saber que&nbsp;únicamente proporcionamos y facilitamos los enlaces a las páginas y/o
                    plataformas de terceros donde pueden adquirirse los productos que mostramos, en aras a facilitar la
                    búsqueda y fácil adquisición de los mismos.
                </p>
                <p>Estas páginas enlazadas y pertenecientes a terceros no han sido revisadas ni son objeto de controles,
                    ni recomendación por nuestra parte, por lo que en ningún caso&nbsp;<strong>NIÑERAS
                        S.O.S</strong> será considerada responsable de los contenidos de estos sitios web, de las
                    responsabilidades derivadas de su uso en todos los ámbitos, ni por las medidas que se adopten
                    relativas a la privacidad del usuario, tratamiento de sus datos de carácter personal u otras que
                    pudieran establecerse.
                </p>
                <p>Por todo ello, te recomendamos la lectura detenida y anticipada de todas las condiciones de uso,
                    condiciones de compra, políticas de privacidad, avisos legales y/o similares de estos sitios
                    enlazados antes de proceder a la adquisición de estos productos o uso de las webs.
                </p>
                <h5>Exactitud y veracidad de los datos</h5>
                <p>Como usuario, eres el único responsable de la veracidad y modificación de los datos que remitas
                    a&nbsp;<strong>NIÑERAS S.O.S</strong>, exonerándonos de cualquier responsabilidad al respecto.
                </p>
                <p>Es decir, a ti te corresponde garantizar y responder en cualquier caso de la exactitud, vigencia y
                    autenticidad de los datos personales facilitados, y te comprometes a mantenerlos debidamente
                    actualizados.
                </p>
                <p>De acuerdo a lo expresado en esta Política de Privacidad, aceptas proporcionar información completa
                    y&nbsp;correcta&nbsp;en el formulario de contacto o suscripción.
                </p>
                <h5>Bajas de suscripción y derechos de revocación</h5>
                <p>Como titular de los datos que nos hayas facilitado, podrás ejercer en cualquier momento tus derechos
                    de acceso, rectificación, cancelación y oposición, enviándonos un correo electrónico
                    a<strong>&nbsp;Info@ninerassos.com.co&nbsp;</strong>y adjuntándonos una fotocopia de tu
                    documento de identidad como prueba válida.
                </p>
                <p>Igualmente, podrás darte de baja en cualquier momento para dejar de recibir nuestra newsletter o
                    cualquier otra comunicación comercial, directamente desde el mismo email que hayas recibido o
                    enviándonos un correo a&nbsp;<strong>Info@ninerassos.com.co.</strong>
                </p>
                <h5>Acceso a datos por cuenta de terceros</h5>
                <p>Para poder prestar servicios estrictamente necesarios para el funcionamiento y desarrollo&nbsp;de las
                    actividades de este sitio web, te informamos de que compartimos datos con los siguientes prestadores
                    de servicio bajo sus correspondientes condiciones de privacidad.
                </p>
                <p>Puedes tener la total tranquilidad de que estos terceros no podrán utilizar dicha información para
                    ningún otro fin que no esté regulado específicamente en nuestras relaciones con ellos en virtud de
                    la normativa aplicable en materia de protección de datos de carácter personal.
                </p>
                <p>Este sitio web está alojado en&nbsp;<strong><a
                            href="https://www.heroku.com/">https://www.heroku.com</a>/</strong>,
                    que proporciona los servicios de hosting para que puedas acceder y navegar por nuestro sitio. Puedes
                    consultar la política de privacidad y demás aspectos legales de esta empresa en el siguiente
                    enlace:&nbsp;<strong>https://www.heroku.com/policy/salesforce-heroku-msa</strong>
                </p>
                <h5>Medidas de seguridad</h5>
                <p>Como titular de la web<strong>, NIÑERAS S.O.S </strong>ha adoptado todas las medidas técnicas y
                    de organización necesaria para garantizar la seguridad e integridad de los datos de carácter
                    personal que trate, así como para evitar su pérdida, alteración y/o acceso por parte de terceros no
                    autorizados.&nbsp;
                </p>
                <p>Te recordamos que, para más información, puedes consultar nuestras páginas de&nbsp;<strong>Aviso
                        Legal</strong>&nbsp;y&nbsp;<strong>Política de Cookies.</strong>
                </p>



            </div>
        </div>
    </div>
</div>

{% endblock content %}